.contact {
    background: $blue_light;
    width: 100vw;
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    & > * {
      margin: 0 16px 0;
    }
    &__header {
      color: $text_dark;
      font-size: 36px;
      margin: 64px 16px 32px;
    }
    &__paragraph {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 56px;
      line-height: 32px;
      color: $text_default;
    }
    &__media {
      width: auto;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      width: 70vw;
      margin-bottom: 64px;
    }

    &__circle {
      background-color: white;
      height: 48px;
      width: 48px;
      position: relative;
      //  bottom: 0;
      border-radius: 50%;
      box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
    }
    &__icon {
      position: absolute;
      top: 12px;
      left: 12px;
      height: 24px;
      width: 24px;
      &--GH {
        content: url("../assets/img/Git.svg");
      }
      &--Insta {
        content: url("../assets/img/Insta.svg");
      }
      &--FB {
        content: url("../assets/img/FB.svg");
      }
    }
  }

