@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero {
  &__front {
    color: $blue;
  }
  &__anchor {
    color: $text_link;
    text-decoration: none;
  }
  &__image-container {
    width: 212px;
    height: 130px;
    position: relative;
    margin: 64px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    margin: 16px;

    &-circle {
      background-color: $blue_lightest;
      height: 128px;
      width: 128px;
      position: absolute;
      bottom: -16px;
      border-radius: 50%;
    }
  }
  &__cloud {
    display: none;
  }
  &__description {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__header {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0px 16px;
  }
  &__paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 16px;
    text-align: justify;
  }
  &__contact {
    width: 278px;
    height: 48px;
    background-color: $text_link;
    color: white;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 64px;
    text-align: center;
    vertical-align: central;
    margin: 48px 21px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
  }

  @media (min-width: $desktop) {
    &__image {
      width: 176px;
      height: 176px;
      margin: 32px;
      &-container {
        // width: 402px;
        height: 228px;
        margin: auto;
        margin-top: 116px ;
        margin-bottom: 72px;
      }
      &-circle {
        width: 240px;
        height: 240px;

        // bottom: -32px;
      }
    }
    &__header {
      font-size: 32px;
      line-height: 40px;
    }

    &__paragraph {
      font-size: 20px;
      line-height: 40px;
    
    }
    &__bracket{
      display: flex;
      flex-direction: row;  
      margin: auto;
      justify-content: center;
      &::before {
        content: url("./../assets/img/left_brack.svg");
      }
      &::after {
        content: url("./../assets/img/right_brack.svg");
      }
    }
    &__description {
      width: 830px;
      // margin: auto;
     
  
    }
    &__cloud {
      display: unset;
      position: absolute;
      bottom: 188px;
      left: 213px;
      height: 94.66px;
      width: 245px;
      background-color: $blue;
      color: white;
      border-radius: 16px;
      height: 72px;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      padding: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @keyframes hello {
        0% {
          transform: rotate(0deg) scale(1.3);
        }
        100%{
         transform: rotate(50deg) scale(1.3);
         
        }
      
        // to {transform: rotate(0deg);}
      }
      &-hand {
        // transition: transform 0.1s linear;
        display: inline-block;
         animation: hello 0.3s  ease-in-out 4 alternate;
        &:hover{
          // transform: rotate(50deg);
          display: inline-block;
        animation: hello 0.3s  ease-in-out 4 alternate;
        }
  
       }
   
      
      &-end {
        position: absolute;
        content: url("./../assets/img/Speech_cloud.svg");
        top: 39px;
        left: 245px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

