.already-know > li:before {
    content: url("../assets/img/small-tick.svg");
    margin-right: 12px;
  }
  .know-something > li:before {
    content: url("../assets/img/small-tick_filled.svg");
    margin-right: 12px;
  }
  .want-learn > li:before {
    content: url("../assets/img/bullet.svg");
    margin-right: 12px;
  }

  .skills {
    background: $blue;
    padding-bottom: 96px;
    &__table{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    // width: 100%;
    &__emoji {
      font-size: 64px;
    }
    &__list {
      font-size: 16px;
      line-height: 32px;
      color: $blue_light;
      list-style: none;
      display: flex;
      flex-direction: column;
      width: 87%;
      margin: 24px 77px;
      justify-content: flex-start;
      padding-inline-start: 10px;
      //
      & > li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        font-weight: lighter;
      }
    }
    &__header {
      // position: absolute;
      // top: 64px;
      margin-top: 64px;
      font-size: 36px;
      font-weight: 500;
      color: white;
      text-align: center;
    }
    &__category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 24px;

      &--header {
        font-size: 24px;
        color: white;
        font-weight: lighter;
      }
    }

    @media (min-width:$desktop){

      &__table{
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin: 0 0 176px;
      }
      &__category{
        width: 379px;
        // margin: 0 12px;
      }
    &__list {
      margin-left: 100px;
      max-width: 225px;
    }
    &__header{
      font-size: 48px;
      margin: 80px 0 128px;
    }

    }
  }