@import "~normalize.css";

@import "_variables";

body {
  background: white;
  color: black;
 
  font-family: 'Nunito', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
section {
  width: 100vw;
  min-height: 722px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.hero {
padding: 0 0 88px;
  &__front {
    color: $blue;
  }
  &__anchor{
    color: $text_link;
    text-decoration: none;
  }
  &__image-container {
    width: 212px;
    height: 130px;
    position: relative;
    margin:0 54px 40px 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &__image {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    margin: 16px;
    &-circle{
      background-color: $blue_lightest;
      height: 128px;
      width: 128px;
      position: absolute;
      bottom: -16px;
      border-radius: 50%;
    }
  }
  &__cloud {
    display: none;
    position: absolute;
    top: 0px;
    left: 178px;
    height: 94.66px;
    width: 225px;
    background-color: $blue;
    color: white;
    border-radius: 16px;
    height: 72px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding: auto  ;

  }
  &__description {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   &__header{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  margin: 0 16px 16px;
   }
   &__paragraph{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 16px;
     
  }
  &__contact {
    width: 278px;
    height: 48px;
    background-color: $text_link;
    color: white;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 64px;
    text-align: center;
    vertical-align: central;
    margin: 48px 21px;
    display: inline-block;
  }
}
ul > li::before{
 
    content: url('../assets/img/small-tick_filled.svg');

 
}

.skills {
  background: $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &__emoji {
    font-size: 64px;
  }
  &__list{
    font-size: 18px;
    line-height: 32px;
    color: $blue_light;
    list-style: none;
    

  }
  &__header{
    // position: absolute;
    // top: 64px;
    margin-top: 64px;
    font-size: 36px;
    font-weight: 500;
    color: white;

  }
  &__category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    &--header{
      font-size: 24px;
      color: white;
      font-weight: lighter;
    }
  }
}
.footer {
  background: $blue_light;
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
